/*Utils*/
p, h1, h2, h3, h4, li {
    color: rgb(39, 39, 39);
}
.light-font {
    color: white;
}

        body {
            background-color: rgb(232, 232, 232);
            padding: 0;
            margin: 0;
        }
        .container{
            justify-self: center;
            background-color: rgb(237, 237, 237);
            width: 95%;
            margin-top: 1rem;
            position: relative;
            height: 100vh;
            font-family: "Roboto Condensed", sans-serif;
        }
        header {
            width: 100%;
            height: 50rem;
        }
        nav {
            width: 100%;
            vertical-align: top;
            height: 2.7rem;
        }
        .banner {
            width: 100%;
            height: 80%;
            display: block;
            margin-top: 5px;
            color: white;
            border-top-left-radius: 20px;
            background-repeat: no-repeat;
            border-top-right-radius: 20px;
            background-position: top;
            background-size: cover;
            background-image: linear-gradient(rgba(0, 0, 0, 0.275), rgba(0, 0, 0, 0.292)), url('https://images.pexels.com/photos/8442094/pexels-photo-8442094.jpeg');
        }
        .main-history {
            height: 47rem;
            position: relative;
            top: -8rem;
            background-color: rgb(222, 222, 222);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            overflow: hidden;
        }

        .main-history-date {
            display: inline-block;
            width: 49%;
            vertical-align: top;
            height: 100%;
        }

        .main-history-pic {
            width: 49%;
            vertical-align: top;
            margin-left: 1%;
            height: 100%;
            display: inline-block;
            overflow: hidden;
        }

        .main-history-date-title {
            width: 50%;
            height: 100%;
            display: inline-block;
            vertical-align: top;
            padding-top: 15px;
            padding-left: 25px;
        }
        
        .main-history-date-title h1 {
            font-weight: 500;
            font-size: 50px;
        }

        .main-history-date-title p {
            position: relative;
            top: 25%;
        }

        .main-history-pic-nav {
            width: 100%;
            margin-left: 0%;
            height: 30%;
            vertical-align: top;
        }
        .main-history-pic-slide {
            padding-top: 3rem;
            width: 100%;
            height: 50%;
            display: block;
        }
        
        .main-history-date-dates {
            width: 40%;
            height: 100%;
            display: inline-block;
        }
        
        .main-history-date-dates ul {
            padding-right: 1rem;
            list-style: none;
            text-align: end;
            position: relative;
            line-height: 20px;
            top: 40%;
        }

        .main-history-date-dates ul li:not(.main-history-date-dates-selected) {
            margin-bottom: 12px;
        }

        .main-history-date-dates-selected {
            font-size: 90px;
            margin: 45px 0px 45px 0px;
        }

        .main-leadership {
            height: 50rem;
            position: relative;
            top: -9rem;
            padding-left: 2rem;
            padding-top: 1%;
            background-color: rgb(255, 255, 255);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .main-goals {
            height: 50rem;
            position: relative;
            padding-left: 2rem;
            padding-top: 1%;
            top: -10rem;
            background-color: rgb(215, 220, 228);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        footer {
            top: -30px;
            position: relative;
            height: 20rem;
            width: 100%;
            background-color: blue;
        }

        .banner-title {
            width: 95%;
            position: relative;
            display: block;
            padding-left: 2rem;
            padding-top: 1rem;
            height: 50%;
        }

        .banner-title h1 {
            width: 30%;
            font-size: 70px;
            height: 100%;
            font-weight: 500;
            line-height: 4rem;
        }

        .banner-desc {
            width: 100%;
            position: relative;
            display: block;
            height: 50%;
        }

        .banner-desc-text, .play-section {
            width: 30%;
            position: relative;
            top: 10%;
            font-size: 20px;
            margin-left: 50%;
        }

        .nav-first {
            display: inline-block;
            width: 44%;
            vertical-align: top;
            height: 100%;
        }

        .nav-first-logo {
            display: inline-block;
            padding-left: 2rem;
            width: 50%;
            vertical-align: top;
            height: 100%;
        }

        .nav-first-logo .logo {
            position: relative;
            font-size: 18px;
            font-weight: 900;
            top: -5px;
            display: inline-block;
        }

        .nav-first-logo .desc {
            text-align: end;
            float: right;
            padding-right: 2rem;
            width: 6rem;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            position: relative;
            top: -7px;
            color: rgb(150, 150, 150);
        }

        .nav-first-button {
            width: 20%;
            height: 100%;
            display: inline-block;
            text-align: center;
            border-radius: 10px;
            background-color: rgb(177, 177, 177);
        }

        .nav-second {
            position: relative;
            vertical-align: top;
            float: right;
            width: 56%;
            height: 100%;
        }

        .nav-second-button {
            width: 21%;
            height: 100%;
            vertical-align: top;
            border-radius: 10px;
            background-color: rgb(177, 177, 177);
            display: inline-block;
        }

        .nav-second-menu {
            width: 48%;
            display: inline-block;
            vertical-align: top;
            padding: 0px 20px 0px 20px;
            background-color: white;
            border-radius: 10px;
            height: 100%;
        }

        .nav-second-menu p {
            display: inline-block;
            vertical-align: top;
            position: relative;
            font-size: 14px;
            font-weight: 900;
        }

        .nav-second-menu-icon {
            position: relative;
            top: -8px;
            float: inline-end;
            font-weight: 900;
            font-size: 35px;
        }

        .nav-second-connect {
            width: 24%;
            height: 100%;
            vertical-align: top;
            text-align: center;
            color: white;
            border-radius: 10px;
            background-color: rgb(58, 58, 58);
            display: inline-block;
        }

        .nav-second-connect p {
            position: relative;
        }

        .nav-first-logo {
            justify-self: start;
            width: 70%;
            height: 100%;
            border-radius: 10px;
            background-color: white;
        }

        .nav-button {
            color: white;
            text-align: center;
            font-weight: 500;
        }

        .nav-button p {
            position: relative;
            font-size: 14px;
            top: -1px;
        }

        .wa-bubble {
            position: fixed;
            display: inline-block;
            width: 75px;
            height: 75px;
            top: 80%;
            left: 92%;
            z-index: 4;
        }

.wa-button {
    width: 75px;
    height: 100%;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background-image: url("../assets/whatsapp.png");
    background-position: center;
    background-size: cover;
    border: 2px solid white;
    z-index: 5;
    border-radius: 55%;
}